<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Yardım Sayfası</h1>
    <p>{{helpText}}</p>
  </body>
</html>