<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="/img/indir.png">
    <title>Document</title>
  </head>
  <body>

    <div class ="main-content">
      <h1>{{>header}}</h1>
      <img class="portrait" src="/img/resim.png" />
    </div>

   {{>footer}}
  </body>
</html>