<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="/js/app.js"></script>
    <link rel="icon" href="/img/indir.png">
    <title>Document</title>
  </head>
  <body>
    <div class ="main-content">
      <h1>{{>header}}</h1> 
    </div>
    {{>footer}}
  </body>
</html>