<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="/img/indir.png">
    <title>Document</title>
  </head>
  <body>
    <div class="main-content">
      <h1>{{>header}}</h1>
      <p>{{errorMessage}}</p>
    </div>
    {{>footer}}
  </body>
</html>